.band-info-container {
    background-image: url('../images/wireBG.jpg');
    background-size: cover;
    color: #fff;
    font-family: monospace;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem auto;
    box-shadow: rgba(0, 0, 0, 0.75) 3px 10px 10px 0px, rgba(0, 0, 0, 1) 0px 0px 0px 1px;

    .band-img {
        padding-bottom: 1rem;
    }

    h1 {
        font-family: 'Deathrock';
        font-size: 4rem;
    }

    h2 {
        font-family: 'DeathRock';
        font-size: 4rem;
    }

    p {
        font-size: 1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-left: 0;
    }

    ul {
        padding-left: 1rem;
    }

    .p-card {
        padding: 1rem;
    }

    .center-image-xs {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 575.98px) {
    .center-image-xs {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .band-info-container {
        border-radius: 0;
    }
}